<div class="ui message inverted about">
<div class="ui inverted comments">
    <h3 class="ui inverted dividing header">ImageBoards.net Thread</h3>
    {% for message in messages %}
    <div class="comment">
      <div class="content">
        <a class="author">{{ message.type }} </a>
        <div class="metadata">
          <span class="date">{{ message.time | humane_date }}</span>
          <span class="id">id : {{ message.id }}</span>
        </div>
        <div class="text">
            {{ message.text }}
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    {% endfor %}

    <form class="ui reply form">
        <div class="field">
          <textarea></textarea>
        </div>
        <div class="ui teal inverted labeled submit icon button">
          <i class="icon edit"></i> Add Reply
        </div>
      </form>
</div>
</div>